body {
    background-color: #f2f4fc;
    font-family: sans-serif;
}

.container {
    max-width: 83%;
    margin: 0 auto;
   

}


.logo-circle1{
    padding-top: 40%;
}

ul {
    list-style: none;
}

#header { 
    margin-top: 70px;
    
    display: flex;
    justify-content: space-between;
}

.header-proyects-link{
    text-decoration: none;
    color: #6b708D;
}

#buttons-header {
    display: flex;
    justify-content: space-between;
    display: none;
    }

li {
    margin: 10px;
    color: #292e47;
}

#home-button{
    color: #072AC8;
    text-decoration: none;
}

.contact-us-buttonA{
    background-color: #072AC8;
    border-color: #072AC8;
    padding: 0px 15px;
    height: 45px;
    width: 140px;
   display:block;
   margin-top:10px;
}

.contact-us-buttonB{
    padding: 0px 15px;
    background-color: #072AC8;
    color: white;
    font-size: 14px;
    text-decoration: none;
}


.bottle-image{
    height: 420px;
    width: 120px;
    margin-left: 35%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.beer-title{
    color: #292e47;
    width: 85%;
    margin-left: 3.5%;
}

.beer-tagline{
    color: #292e47;
    width: 85%;
    margin-left: 3.5%;
}

.beer-description{
    color: #292e47;
    width: 85%;
    margin-left: 3.5%;
    margin-bottom: 7%;
    line-height: 20px;
}

.Project-1-information{
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    align-items: flex-start;
}

.project-1-title{
    color:#292e47;
}

.Project-1-text{
    color: #292e47;
    font-size: 17px;
    width: 90%;
    line-height:30px;
}

.Project-1-text-description{
color: #6b708D;
font-size: 17px;
}

.Project-1-date-completed-part1{
    color: #292e47;
}

.Project-1-date-completed-part2{
    color:#6b708D;
    margin-left: 7px;
}


.Project-1-date-completed-Total{
    display: flex;
    margin-top: 5px;
}


.Projects-section-picture-container{
    margin-top: 40px;
    height: 450px ;
    width: 97%;
}
.projects-section-picture1{
    height: 450px;
    width: 100%;
}


.Project-1-text-details{
    margin-bottom: 80px;
}














.collection-list{
    display: grid;
    grid-template-columns: auto;
   
}




.project-card{
    justify-content: center;
    margin: 10px 20px;
   
}



#other-projects-container{
    margin: 0px 30px
}

.other-projects-container{
    margin: 30px 0px;
}

.project-heading{
    text-align: center;
    color:#292e47;
    font-size: 30px;
}



.project-image{
    justify-content: center;
}

.projects-section-picture2{
    width: 100%;
    height: 243px;
}

.projects-section-picture3{
    width: 100%;
    height: 243px;
    }

.project-text-content {
    background-color: white;
    margin-bottom: 5%;
    padding-bottom: 30px;
}

.project-title{
    color:#292e47;
    font-size: 24px;
    margin: 0px 15px 5px 20px;
    padding-top: 30px;
    
}

.project-description{
    color: #292e47;
    font-size: 17px;
    margin: 0px 30px 15px 20px;
    padding-top: 15px;
}

.link-to-project {
    text-decoration: none;
    font-size: 17px;
    margin: 0px 30px 20px 20px;
    padding-top: 15px;
    }











.questions-container{
    background-color: #ffc600;
    height: 450px;
    width: 90%;
    margin-top: 60px;
    margin-left: 7%;
       
    }

.questions-area{
    display: flex;
    flex-direction: column;
}


.questions-help-titule{
    color: #292e47;
    margin-top: 50px;
    margin-left: 5%;
    
}

.questions-help-subtitule{
    color: #292e47;
    font-size: 17px;
    justify-content:center ;
    justify-items: center;
    margin-bottom: 50px;
    margin-left: 50px;
}


.questions-buttons-sector{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.envelop-email-container{
    height: 80px;
    width: 246px;
    background-color: white;
    position: relative;
}

.envelope-image{
    background-image: url(/newsletter/icon/mail.svg);
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    position: absolute;
    left: 20px;
    top: 25px;
}

.email-envelope{
    font-size: 17px;
    padding-left: 0px;
    border: 0px;
    position: absolute;
    left: 70px;
    top: 30px;
    width: 150px;
    

}


.suscribe-button{
    background-color: #072AC8;
    color: white;
    text-decoration: none;
    height: 80px;
    width: 246px;
    font-size: 17px;
    margin-top: 20px;
    border: 0px;

}








.section-footer{
    margin-top: 60px;      
}

.logo-circle2{
    height: 27px;
    margin-bottom: 20px;
}

.footer-texts{
    display: flex;
    flex-direction: column;

}
.footer-text1{
    color: #6b708D;
    font-size: 17px;
    text-align: center;  
    margin-bottom: 0px;
}

.footer-text2{
    color: #6b708D;
    font-size: 17px;
    text-align: center;  
    margin-top: 0px;
}

.footers-content{
    display: flex;
    flex-direction: column;
}

.footers-links{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-end: auto;

}

.footer-link-text{
    text-decoration: none;
    margin: 15px 5px;
    display: flex;
    justify-content: center;
    width: 100px;
    }



@media (min-width: 550px ) {



    #header { 
        margin-top: 70px;
        margin-left: 4%;
        display: flex;
        justify-content: space-between;
    }



    #buttons-header {
        display: flex;
        justify-content: space-between;
        }



        .bottle-image{
            height: 420px;
            width: 120px;
            margin-left: 41%;
            margin-top: 3%;
            margin-bottom: 3%;
        }

        .beer-title{
            color: #292e47;
            width: 85%;
            margin-left: 3.5%;
            font-size: 55px;
        }

        .beer-tagline{
            color: #292e47;
            width: 85%;
            margin-left: 3.5%;
            font-size: 24px;
        }

        .beer-description{
            color: #292e47;
            width: 83%;
            margin-left: 3.5%;
            margin-bottom: 7%;
            margin-right: 15%;
            font-size: 18px;
            line-height: 30px;
            
        }

    .project-heading{
        text-align: left;
        color:#292e47;
        font-size: 35px;
        margin-left: 2%;
        }









.section-footer{
    margin-top: 150px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
}



@media (min-width: 760px ) {

    .questions-buttons-sector{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: 100px; 
        margin-right: 132px;
        width: 420px;
        }
    
    .envelop-email-container{
        height: 80px;
        width: 700px;
        background-color: white;
        position: relative;
        margin-left: 25%;
        margin-right: 5%;
    }

    
    .email-envelope{
        font-size: 17px;
        padding-left: 0px;
        border: 0px;
        position: absolute;
        left: 70px;
        top: 30px;
        width: 135px;
           
    }


    .suscribe-button{
        background-color: #072AC8;
        color: white;
        text-decoration: none;
        height: 80px;
        width: 246px;
        font-size: 17px;
        margin-top: 20px;
        border: 0px;
        margin-bottom: 20px;
        
        
    
    }


    .project-1-title{
        color:#292e47;
        font-size: 55px;
    }

    .Project-1-information{
        display: flex;
        flex-direction: row;
        margin-bottom: 0px;
        justify-content: space-between;
        align-items: center;
    }

    
.Project-1-date-completed-part1{
    color: #292e47;
    font-size: 17px;
}

.Project-1-date-completed-part2{
    color:#6b708D;
    margin-left: 7px;
    font-size: 17px;
}

    .Project-1-text-description{
        color: #6b708D;
        font-size: 21px;
        }

    .collection-list{
        display: grid;
        grid-template-columns: auto auto;
        }
    
    .project-card{
        justify-content: center;
        margin: 10px 20px;
        }
    
    










    .questions-container{
        background-color: #ffc600;
        height: 450px;
        width: 97%;
        margin-top: 60px;
           
        }
    
    .questions-area{
        display: flex;
        flex-direction: column;
    }
    
    
    .questions-help-titule{
        color: #292e47;
        margin-top: 50px;
        margin-left: 3.5%;
        font-size: ;
        
    }
    
    .questions-help-subtitule{
        color: #292e47;
        font-size: 17px;
        justify-content:center ;
        justify-items: center;
        margin-bottom: 50px;
        margin-left: 50px;
    }
    
    
    
    /*
    
    .questions-buttons-sector{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: 270px; 
        margin-right: 132px;
        width: 720px;
        }
    */
    /*
    .envelop-email-container{
        height: 80px;
        width: 400px;
        background-color: white;
        position: relative;
        margin-left: 25%;
        margin-right: 5%;
    }
    */
    .envelope-image{
        background-image: url(/newsletter/icon/mail.svg);
        background-repeat: no-repeat;
        height: 30px;
        width: 30px;
        position: absolute;
        left: 20px;
        top: 25px;
    }
    
    
    
   

}    


@media (min-width: 900px ) {


.section-footer{
    margin-top: 200px;
}
}

@media (min-width: 950px ) {


    .questions-buttons-sector{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: 270px; 
        margin-right: 132px;
        width: 520px;
        }
    
    .envelop-email-container{
        height: 80px;
        width: 400px;
        background-color: white;
        position: relative;
        margin-left: 25%;
        margin-right: 5%;
    }


.collection-list{
    display: grid;
    grid-template-columns: auto auto auto;
    }

.project-card{
    justify-content: center;
    margin: 10px 20px;
    }

.questions-help-titule{
    color: #292e47;
    margin-top: 70px;
    margin-left: 3.5%;
    font-size: 45px;
    text-align: center;
    }
 
    .questions-help-subtitule{
        color: #292e47;
        font-size: 27px;
        justify-content:center ;
        justify-items: center;
        margin-bottom: 50px;
        margin-left: 50px;
        text-align: center;
    }


 .projects-section-picture2{
     /* 
     width: 351px;
     height: 243px;
         */
         width: 340px;
         height: 243px;
 }
 
 .projects-section-picture3{
     /* 
     width: 351px;
     height: 243px;
         */
         width: 340px;
         height: 243px;
     }
}

@media (min-width: 1150px ) {


    .Projects-section-picture-container{
        margin-top: 40px;
        height: 610px ;
        width: 97%;
        margin-bottom: 20px;
    }
    .projects-section-picture1{
        height: 605px;
        width: 100%;
    }


    .questions-container{
        background-color: #ffc600;
        height: 500px;
        width: 93%;
        margin-top: 60px;
        margin-left: 3%;
           
        }


        .questions-buttons-sector{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-left: 270px; 
            margin-right: 132px;
            width: 720px;
            }
        
        .envelop-email-container{
            height: 80px;
            width: 400px;
            background-color: white;
            position: relative;
            margin-left: 25%;
            margin-right: 5%;
        }
    
}